@import "tailwindcss";

@keyframes tilt-slow {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(12deg); }
  }
  
  .animate-tilt-slow {
    animation: tilt-slow 4s ease-in-out infinite;
  }
  